
.attendancelist .attendancelist-panel {
    padding: 20px 40px;
}
.attendancelist .attendancelist-input-group {
    width: 100%;
}
.attendancelist .attendancelist-input-group label {
    font-size: 1.1em;
}
.attendancelist .attendancelist-input-group label small {
    color: gray;
    font-weight: bold;
}
.attendancelist .attendancelist-input-group p {
    color: #535353;
}
.attendancelist input[type='text'].attendancelist-input-text {
    width: 100%;
}
.attendancelist textarea.attendancelist-input-textarea {
    resize: vertical;
    min-height: 200px;
}